*,
::before,
::after {
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	background-color: black;
	color: #f9f9f9;
}

.container {
	border: 2px solid #ca1801;
	width: 80%;
	max-width: 700px;

	margin: 5rem auto;
	padding: 1rem 1.2rem;
}

.img_Container,
.download_Container {
	margin-top: 1rem;
}

.menu_img {
	width: 100%;
}

.menu_Link {
	font-size: 16px;
	font-weight: 600;

	padding: 0.4rem 0.5rem;
	background-color: #e8c66e;
	color: white;
	border-radius: 10px;
}

.footer {
	margin-top: 2rem;
}

.footer p {
	font-size: 12px;
}
