*,
::before,
::after {
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	background-color: black;
	color: #f9f9f9;
}

img {
	width: 100%;
}

.container {
	border: 2px solid #ecb530;
	width: 85%;
	max-width: 800px;

	margin: 4rem auto;
	padding: 1rem 2rem;
	border-radius: 10px;
}

.logo_Img {
	margin-right: 2rem;
}

.header_Container,
.download_Container,
.footer {
	text-align: center;
}

.img_Container,
.download_Container {
	margin-top: 1rem;
}

.menu_img {
	width: 100%;
	margin-top: 1rem;
}

.menu_Link {
	font-size: 14px;
	font-weight: 600;

	padding: 0.4rem 0.5rem;
	background-color: #e8c66e;
	color: white;
	border-radius: 10px;
}

.footer {
	margin-top: 2rem;
}

.footer p {
	font-size: 12px;
}

@media (max-width: 750px) {
	.container {
		padding: 1rem 1.2rem;
	}
}
